@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}
body {
  background-color: rgb(242, 238, 238);
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  padding-top: 20px;
  border-radius: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header button {
  padding: 10px 30px;
  border: none;
  font-size: 0.9rem;
  background-color: dodgerblue;
  color: white;
  box-shadow: -5px 4px 9px rgba(0, 0, 0, 0.08);
  transition: all 0.3s;
  opacity: 0.9;
}
.header button:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: -5px 4px 16px rgba(0, 0, 0, 0.08);
}
.header button:active {
  opacity: 0.4;
  cursor: pointer;
}
.title {
  font-size: 2rem;
  font-family: 600;
}

.container table,
tr {
  border: 1px solid rgb(46, 44, 44);
  border-collapse: collapse;
}
.container table thead {
  background-color: black;
  color: white;
}

.container td,
th {
  padding: 10px;
}
.container .actions button {
  padding: 6px 15px;
  color: white;
  border: none;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
  opacity: 0.8;
  transition: all 0.3s;
}
.actions button:hover {
  opacity: 1;
  cursor: pointer;
}
.actions button:active {
  opacity: 0.5;
  cursor: pointer;
}
.actions button:nth-child(1) {
  background-color: dodgerblue;
}
.actions button:nth-child(2) {
  background-color: rgb(221, 18, 18);
}
.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
.modal-content {
  width: 100%;
  max-width: 700px;
  background-color: white;
  color: black;
  height: 100%;
  max-height: 300px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 500;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-row input {
  padding: 8px;
  outline: none;
  border: 2px solid rgb(139, 139, 139);
  transition: all 0.3s;
}
.form-row input:focus {
  border: 2px solid rgb(18, 88, 250);
}
.modal-content form button {
  padding: 6px 15px;
  color: white;
  border: none;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.08);
  opacity: 0.8;
  transition: all 0.3s;
  background-color: dodgerblue;
}
.modal-content form button:hover {
  opacity: 1;
  cursor: pointer;
}
.modal.active {
  display: flex;
}
